name: Swift CI
on: [push]


jobs:
  linuxBuild:
    name: Swift ${{ matrix.swift-version }} (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        swift-version: [5.4]
        os: [ubuntu-20.04]
    
    steps:
    - name: Install Swift
      uses: YOCKOW/Action-setup-swift@master
      with:
          swift-version: ${{ matrix.swift-version }}
    - name: Checkout
      uses: actions/checkout@v1
    - name: Swift Package Information
      run: |
        swift --version
        swift package show-dependencies
    - name: Build
      run: swift build

  macOSBuild:
    name: macOS - Xcode ${{ matrix.xcode-version }}
    runs-on: macOS-latest
    strategy:
      matrix:
        xcode-version: [12.0]
        
    steps:
      - name: Configure Xcode
        run: |
          sudo xcode-select -s /Applications/Xcode_${{ matrix.xcode-version }}.app/
          xcode-select -p
      - name: Checkout
        uses: actions/checkout@v1
      - name: Swift Package Information
        run: |
          swift --version
          swift package show-dependencies
      - name: Build
        run: swift build
      - name: SwiftLint
        uses: norio-nomura/action-swiftlint@3.2.1
